
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

h1{
  font-family: Cambria, Georgia, serif;
	font-size: 52px! important;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-style: oblique;
	font-variant:  normal;
	font-weight: 500;
	line-height: 26.4px;
}

#aproposMenu{
  height: 80% !important ;
}

#apropos{
margin-top: 50px;
background:white !important;
background-color: white !important;
width: 100%;
height: 100% !important;
}

#apropos a{
color : #337ab7 !important;
}

#apropos h2 {
  margin-left: 25px;
}

.lead{
margin-left: 75px;
margin-right: 150px;
}



/**************** Explorateur de contenu ******************/

.control-label{

  font-family: Cambria, Georgia, serif;
	font-size: 18px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
}

a #menuChevron {
  color: black;
}


#collapsedMenu{
z-index: 1000;
margin-left: 20px;
margin-right: -5px;
}




/*******************************************************************************/

.select2-container .select2-choice {
    border: 0px solid #dce4ec;
    border-radius: 0px ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
    text-indent: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image: none;
    width: 250px !important;
    height: 10px;
}
.select2-container *:focus{
    outline:0px;
    width: 200 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;

}
.select2-container--default .select2-selection--single{
    border-radius:0px;
    width: 250px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
}
.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: red;
    border-radius:0px;
    width: 250px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
}
.select2-drop {

    border: 2px solid #dce4ec;
    border-top: 0;
    border-radius: 0px !important;
    -webkit-border-radius:0 0 6px 6px;
    -moz-border-radius:0 0 6px 6px;
    border-radius:0 0 6px 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 250px !important;
}
.select2-drop.select2-drop-above {
    margin-top: 2px;
    border-top: 2px solid rgba(255,255,0,0.7);;
    border-bottom: 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 250px !important;
}
.select2-container .select2-choice div {
    border-left: 0px solid rgba(255,255,0,0.7);
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}



.select2-search input {

    border: 0px solid rgba(255,255,0,0.7);

}



.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 0px solid rgba(255,255,0,0.7);
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice div {
    background: transparent;

}
.select2-results .select2-highlighted {
    background: blue !important;
    color: black !important;;
    border-radius: 0px !important;
}


.select2-container-multi .select2-choices {
    height: auto !important;
    border: 0px solid #dce4ec;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 0px solid #dce4ec;
    -webkit-border-radius: 0px;
    -moz-border-radius:  0px;
    border-radius:  0px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.select2-container .select2-choice .select2-arrow{
    border: 0px;
    border-radius: 0px;
    background: transparent;
    background-image: none;
}

/*New Changes*/
.select2-container--default .select2-selection--single{
    background: rgba(255,255,0,0.7);
    border: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{

    background-color: blue;
    background: blue;
    color: black;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: black;

}
.select2-container .select2-selection--single{

}
.select2-container--default .select2-selection--single .select2-selection__arrow b
{
    border-color: black transparent transparent transparent;

}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent black transparent;
}
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above{
    background: rgba(240,240,240,0.9);
}
/*Tags Style*/
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: rgba(49,49,49,1);
    color: black;
    border: 0px solid rgba(0,0,0,0);
    border-radius: 0px;

}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: rgba(0,0,0,0);

}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{

}
/*tags Outer border*/
.select2-container--default .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--multiple{
    border: 0px solid rgba(0,0,0,0);
}
/*Placeholder Text Color */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    line-height: 26.4px;
}

.select2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
     background-color: #494949;
     color: white;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 12px;
     font-style: normal;
     font-variant: normal;
     line-height: 26.4px;
}

/*****************************************************************************************************************/



/******************** FICHE RÉCIT **********************/


#panelRecit {
border-radius: 0;
border-width: 0;
background-color: rgba(255,255,255,0.85)
}

#panelRecit .panel-heading {

  font-family: Cambria, Georgia, serif;
	font-size: 24px;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;

}

#panelRecit .panel-body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  margin-left: 10px;
  margin-right: 10px;

}

#panelRecit h3 {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  line-height: 26.4px;
  display: inline;
  font-weight: bold;
}


/************* POP UP PANEL COLOR DEPENDING ON THE CATEGORY ****************/
.panel-popup{
  background-color: rgba(66, 244, 226,0.8) !important;
}

.panel-Anecdote
{
  background-color: rgba(255,255,0,0.8) !important;
}
.panel-Comment
{
  background-color: rgba(255,102,0,0.8) !important;
}
.panel-Memory
{
  background-color: rgba(255,0,0,0.8) !important;
}
.panel-Narrative
{
  background-color: rgba(255,0,255,0.8) !important;
}
.panel-Historical
{
  background-color: rgba(204,0,255,0.8) !important;
}
.panel-Creation
{
  background-color: rgba(0,0,255,0.8) !important;
}
.panel-Observation
{
  background-color: rgba(0,0,153,0.8) !important;
}

.panel-Reflection
{
  background-color: rgba(0,0,0,0.8) !important;
}


/******************************************************************************/

#popUpOpen .panel{
  background-color: grey;
}

#popUpOpen{
    margin:auto;
    width:auto !important;
    height: auto !important;

}



#popUpPanel{

  font-family: Cambria, Georgia, serif;
	font-size: 9px;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
  margin-bottom: -25px !important;
  /*background: linear-gradient(to bottom right, #3185ce, #70a8d8);*/

}

#selectPopUpPanel{
  font-family: Cambria, Georgia, serif;
	font-size: 9px;
	font-style: oblique;
	font-variant: normal;
	font-weight: bold;
  margin-bottom: -25px !important;
  /*background: linear-gradient(to bottom right, #3185ce, #70a8d8);*/

}


.panel-body h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 14px;
	font-style: Bold;
	font-variant: normal;
  margin-top: 0 !important ;
}

.panel-body h4 {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
 font-size: 14px;
 font-style: Bold;
 font-variant: normal;
margin-top: 0 !important ;
}

#popUpOpen .panel{
  background-color: grey;
}

a{
  color:  black!important;
}



.mycluster {

      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
    	font-size: 16px! important;
      border-radius: 50%;

      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      border-radius: 50%;
      background-color: rgba(15, 15, 15,0.5);
      border: 2px solid rgba(225,225,225,0.3);
      box-shadow: 0 0 0 2px rgba(15, 15, 15,0.5);
		}


.control-label h2{

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: Bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}



.panel-heading h3{

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: Bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}

.panel-heading h4{

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: Bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}

h2{
    font-size: 2.33em;

}

h3{
    font-size: 1.66em;


}

 h4{
    font-size: 1.5em;
}





#audioXS { width: 100px; display: block; }

.navbar .navbar-header {

background-color: rgba(255, 255, 255,1);

}






/* Portrait phones and smaller */
@media (min-width: 0px) and  (max-width: 359px) {

  #apropos{
  margin-top: 50px;
  background:white !important;
  background-color: white !important;
  width: 100%;
  height: 50% !important;
  }

  #menu{
    display: none !important;
    visibility: hidden !important;
  }
  h1{
      font-size: 1.5em;

  }



  h2{
      font-size: 1.25em;

  }

  h3{
      font-size: 1.12em;


  }

   h4{
      font-size: 1em;

  }
  p {
      font-size: 0.8em;
  }
  #map{
   height:88% !important;
    }

    #navBarTop{

     height:7% !important;
}
.lead{
margin-left: 10px;
margin-right: 20px;
}

}


/* Portrait phones and smaller */
@media (min-width: 360px) and  (max-width: 459px) {

  #menu{
    display: none !important;
    visibility: hidden !important;
  }

  h1{
      font-size: 1.5em;

  }



  h2{
      font-size: 1.25em;

  }

  h3{
      font-size: 1.12em;


  }

   h4{
      font-size: 1em;

  }
  p .lead {
      font-size: 0.8em;
  }
  #map{
   height:91% !important;
    }
#navBarTop{
     height:7% !important;
}
.lead{
margin-left: 20px;
margin-right: 35px;.lead{
margin-left: 75px;
margin-right: 150px;
}
}
}

/* Desktop Responsive window */
@media (min-width: 460px) and  (max-width: 766px) {

#menu{
  display: none !important;
  visibility: hidden !important;
}
h1{
    font-size: 1.5em;

}



h2{
    font-size: 1.25em;

}

h3{
    font-size: 1.12em;


}

 h4{
    font-size: 1em;

}

#map{

   height:91% !important;
  }
  .lead{
  margin-left: 40px;
  margin-right: 80px;
  font-size: 1em;
  }


}


/* Portrait tablets and small desktops */
@media (min-width: 767px) and (max-width: 991px) {


  #menu{
    position:fixed;
    margin-left: 4%;
    margin-top: 15%;
    z-index: 1;
  }
  #map{

   height:93% !important;
    }

    .lead{
    margin-left: 50px;
    margin-right: 100px;
    }
    p .lead {
        font-size: 1em;
    }
}


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

  #menu{
    position:fixed;
    margin-left: 4%;
    margin-top: 15%;
    z-index: 1;
  }

  #map{
   height:92% !important;
    }
    .lead{
    margin-left: 60px;
    margin-right: 120px;
    font-size: 1em;
    }

  }



/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px) {

  #menu{
    position:fixed;
    margin-left: 4%;
    margin-top: 10%;
    z-index: 1;
  }

  #map{

   height:94% !important;
    }
    .lead{
    margin-left: 75px;
    margin-right: 150px;

    }


}

/* Extra Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1980px) {


  #map{

   height:93% !important;

    }
    .lead{
    margin-left: 75px;
    margin-right: 150px;

    }
  }

#map{
 border-color: black;
 position:absolute;
 bottom:0;
 right:0;
 width:100%;
 height:93%;
 z-index: 0;
 bottom: 0;
  }

#menu{

position:fixed;
margin-left: 4%;
margin-top: 7%;
z-index: 1;

}



#menuPanel{
  background: rgba(255,255,0,0.7);
  background-color: rgba(255,255,0,0.7);
  border-radius: 0;
  border-color: rgba(0,0,0,0);
}


#explorateur{

margin-top: 15px !important;
background: linear-gradient(to bottom right, #3185ce, #70a8d8);
background-color: yellow;
}



#togglebtn{

left:5%;
background-color: rgba(255, 255, 255,0);
display:inline-block;

}

#toggle-bar{
background-color: white;
float: left;
bottom:0;
}

#socials a {
color:black !important;

}

    .leaflet-popup{
      border-radius: 0 !important;
      border-color: transparent !important;
      border-with: 0 !important;
      background-color: rgba(255,255,255,0) !important;




    }

    .leaflet-popup-close-button {
        display : none
    }
    .leaflet-popup-content-wrapper {
        padding       : 0;
        text-align    : left;
        border-radius : 0px;
          background-color: rgba(255,255,255,0) !important;
        &, .leaflet-popup-tip {
            background : transparent;
            box-shadow : none;

        }
    }
    .leaflet-popup-content {
        margin: 0;


    }
    .leaflet-popup-tip-container {
        margin : 0;
        width  : auto;
        height : auto;
        display : none;

    }
    .leaflet-popup-tip {
        display : none;

    }

    .carousel img {
      width: auto;
      height: 600px !important;
      display: block;
      margin: 0 auto;

    }



#imgContainer{
z-index: 1000;
}


 #popUpImg{

 margin: 0;

 }

#myImg {

    max-width: 66%;
    max-height: auto;
    background: transparent; color: transparent; }
}

#menuPanel.collapse{
  border-radius: 50%;
}

.glyphicon.glyphicon-plus{
float:center;
font-size: 20px;
color: black;

}

#myImg:hover {opacity: 0.7;}

/***************** THE MODAL ********************/

/* The Modal (background) */
#myModal {

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    top: 70px !important;
    width: 100%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.25); /* Black w/ opacity */
    align-items: center !important;
    /*min-height: 100%;*/
}

/* Modal Content (image) */



#modalContent {
  z-index: 101;
  margin-top: 25px!important;
  align-items: center !important;
  display: inline-block !important;
  width: 95%;
  margin-left:5%;
  margin-bottom: 5%;

}

.modalContainer{
/*background-color: black !important;*/
align-items: center !important;
margin-top: 75px !important;
margin-bottom: 50px;


}

#imgContainer{
/*  align-items: center !important;*/
  z-index: 101;
  margin: 50 5 50 5 !important;
}



/* Caption of Modal Image */
#caption {
    z-index: 1000;
    margin: 50 5 50 5;

}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */

.close {
    z-index: 1000;
    position: absolute;
    top: 25px;
    right: 45px;
    color: yellow;
    font-size: 75px;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    opacity: 1 !important;

}

.close:hover, .close:focus {
    z-index: 99;
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}

#selfie{
 max-height: 50% !important ;
 max-width: 50% !important ;
}

.img-thumbnail{

  margin-bottom: 10px !important;
}




/* CAROUSEL CONTROLS */

.carousel-control{
color: white !important;
margin: -5px;

}

.glyphicon.glyphicon-chevron-right {
    font-size: 50px;
    color : rgba(255,255,0,1) !important ;
}
.glyphicon.glyphicon-chevron-left {
    font-size: 50px;
    color :rgba(255,255,0,1) !important ;
}

.carousel-control {
  color: rgba(255,255,255,0.0);
  background: rgba(255,255,255,0.0);
  background-color: rgba(255,255,255,0.0);
}

.carousel-control .active {
  color: rgba(255,255,255,0.0);
  background: rgba(255,255,255,0.0);
  background-color: rgba(255,255,255,0.0);
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}
/***************** END OF THE MODAL ********************/

.navbar-collapse.collapse{
    transition: height 0.2s ;
}
.navbar-collapse.collapsing {
    height: 0 !important;
}
.navbar-collapse.collapse.in{
    max-height: none;
    height: 100vh;
}
.navbar-header {
  float: none;
  background-color: white;

}
.navbar-toggle {
  display: inline-block;
}
.navbar-collapse.collapse {
  display: none!important;


}
.navbar-nav {
  float: none!important;

}
.navbar-nav>li {
  float: none;

}
.navbar-collapse.collapse.in{
  display:block !important;

}


.navbar-toggle .icon-bar {
  display: block;
  width: 33px;
  height: 4px;
  background-color: rgb(0,0,0);
  border-radius: 0px;;
  margin-top: 33%;
}
